/* !!!!!!!!!!!!!!!!!!!!!! LOGO + MENU !!!!!!!!!!!!!!!!!!!!*/

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: flex-start;
  justify-content: center; /* Oder andere Werte, die zu deinem Layout passen */
  min-height: 100vh;
  margin: 0;
}

.row {
  position: relative;
  left: 150px;
}

.main-title {
  position: relative;
  left: -220px;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: bold;
  margin-top: -60px; 
}

.second-title {
  position: relative;
  left: -215px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px; 
}

header {
  display: flex; 
  justify-content: space-between;
  overflow: hidden; 
  background-color: #0073e6 ;
  align-items: center;
  padding: 160px 100px;
}

/* Style the header links */
.header a { 
  float: left; 
  color: #FFFFFF;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  position: relative;
  left: -240px;
  font-size: 25px;
  font-weight: bold;
  float: left; 
  margin-top: -100px; 
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 768px) { 

.search-box {
  flex-direction: column; /* Change to vertical layout for smaller screens */
  margin-right: 0; 
}
}

/* !!!!!!!!!!!!!!!!SEARCHBAR!!!!!!!!!!!!!!!!! */

section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  margin-top: -50px; 
}

.search-container {
  width: 100%;
  max-width: 1000px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  }

.search-box {
  position: relative;
  flex-direction: column;
  width: 80%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  max-width: 1000px;
  width: 110%;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

button {
  width: 180px;
  height: 60%; 
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 16px 24px;
  cursor: pointer;
  position: absolute;
  right: -40px; 
  top: 50%;
  transform: translateY(-50%);
}

button:hover {
  background-color: #0057b3;
}

/* !!!!!!!!!!!!!!!!! FILTER !!!!!!!!!!!!!!!!!!!!!! */

.outer-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: -550px;
}

.sr-only {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Aktive Filterelemente */
.active-filter {
  background-color: #3498db;
  color: #fff;
}

.filter-select:hover {
  border-color: #3498db;
}

.filter-button {
  font-size: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.filter-button:hover {
  background-color: #2580b3;
  font-size: 50px;
}

.filter-select.with-border {  
  max-width: 800px; 
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 50px; /* Optional: Runde die Ecken ab, wenn gewünscht */
  margin-bottom: 50px; /* Optional: Füge Abstand zwischen den Filter-Elementen hinzu */
}

